:root {
  padding: 10px;
}
input {
  color: black;
  background-color: rgba(128, 128, 128, 0.171);
  border-radius: 10px;
}
label {
  display: block;
  text-align: center;
}
input {
  display: block;
}
