:root {
  padding: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin-top: 0;
  text-align: center;
  background-color: rgba(41, 71, 5, 0.199);
  border: 5px olive solid;
  border-radius: 10px;
}
h2 {
  margin: 10px;
}
fieldset {
  border-color: olive;
  border-radius: 10px;
  background-color: rgba(41, 71, 5, 0.068);
  margin: 10px 0;
}
input {
  color: black;
  background-color: rgba(128, 128, 128, 0.089);
  border-color: olive;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
label {
  text-align: center;
  background-color: white;
  border: 1px solid olive;
  border-radius: 5px;
  padding: 10px;
  display: block;
}
